<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset = "UTF-8">
	<meta name="viewport" content="widh=device-width initial-scale=1 shrink-tofit=no">
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'polls/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'polls/css/main.css' %}">
	<title>Home</title>
</head>
<body>
	<header role = "banner">
		<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top" style="background-color: #c84343">
        	<div class="container">
        		<h1 style="color: #f7cac9">Recipes Home</h1>
        		<div class="collapse navbar-collapse" id="navbarToggle"></div>
        	</div>
    	</nav>
    </header class="site-header"> 
	<main role="main" class="container">
      <div class="row">
          	{% block content %}{% endblock %}
      </div>
    </main>
	<script type="text/javascript" href="{% static 'polls/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" href="{% static 'polls/js/jquery-3.6.0.min.js' %}"></script>
</body>
</html>