{% extends "polls/base.html" %}
{% block content %}
	<h3>Results</h3>
	<table class="table  table-hover">
		<thead class="thead-dark">
		  	<tr>
			  	<th scope="col">Category</th>
			  	<th scope="col">Name</th>
			  	<th scope="col">Ingredients</th>
			  	<th scope="col">Directions</th>
			</tr>
		</thead>
		<tbody>
			{% if results %}  
		    {% for i in results %}
		      <tr>
		        <td>{{i.category}}</td>
		        <td><a target="_blank" href="{{ i.link }}">{{i.name}}</a></td>
		        <td>{{i.ingredients}}</td>
		        <td>{{i.directions}}</td>
		      </tr>
		    {% endfor %}
		    {% endif %}
		</tbody>
	</table>
	{% if results.has_other_pages %}
		<ul class="pagination">
			{% if results.has_previous %}
				<li><a href="?page={{ results.previous_page_number }}">&laquo;</a></li>
			{% else %}
				<li class="disabled"><span>&laquo;</span></li>
			{% endif %}

			{% for i in results.paginator.page_range %}
				{% if results.number == i %}
					<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
				{% else %}
					<li><a href="?page={{ i }}">{{ i }}</a></li>
				{% endif %}
			{% endfor %}

			{% if results.has_next %}
				<li><a href="?page={{ results.next_page_number }}">&raquo;</a></li>
			{% else %}
				<li class="disabled"><span>&raquo;</span></li>
			{% endif %}
		</ul>
	{% endif %}
{% endblock content %}